{{template "header" -}} 
    <h1 class="text-xl text-center font-bold">Link Shortener</h1>
    <form class="mx-auto mb-5 w-fit mt-6" action="/" method="post">
        <input class="rounded border border-gray-800 p-1" name="URL" pattern="(?:https?):\/\/(\w+:?\w*)?(\S+)(:\d+)?(\/|\/([\w#!:.?+=&%!\-\/]))?" value="" placeholder="Write your URL here" type="text" required/>
        <button class="bg-blue-700 text-white px-2 rounded mt-2 p-1 px-2"> Generate short URL</button>
    </form>
{{template "footer" -}}