{{template "header" -}}
<body>
    <h1 class="text-xl text-center font-bold">Link Shortener</h1>
    <div class="mx-auto mb-5 w-fit mt-6">
        <div class="flex flex-row">
            <div class="px-2"> {{ .url }} </div>
        </div>
    </div>
{{template "footer" -}}